body {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#crush-form {
  bottom: 0;
  font-family: monospace;
  font-size: 12pt;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

#crush-log {
  background-color: #000000;
  color: #00ff00;
}

#crush {
  border: 1px solid #00ff00;
  font-family: monospace;
  font-size: 12pt;
  width: 100%;
}
